[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qiskit = "==0.20.0"
amazon-braket-sdk = "*"
boto3 = "*"
boto3-stubs = "*"
pint = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
setuptools = "*"
wheel = "*"
codecov = "*"
pipenv-setup = "*"
sphinx = "*"
jupyter = "*"
matplotlib = "*"

[requires]
python_version = "3.8"
